---
layout: default
---

<article>
  <h1> 
    
    <span>[
  {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
            ]</span>
    
    <span>[
  {% for tag in page.categories %}
      {% capture category_name %}{{ category }}{% endcapture %}
          <a href="/category/{{ category_name }}"><code class="highligher-rouge"><nobr>{{ category_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
            ]</span>
  
  [<a href="https://github.com/jack1012/jack1012.github.io/tree/master/_posts/" target="_blank" > Edit </a>]
  </h1>
  
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
  <br>tag: '{{ page.tags }}' 
  
    
</article>
