---
layout: default
---

<article>
  <h1> <span>[
  {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
            ]</span>
  
  [<a href="https://github.com/jack1012/jack1012.github.io/tree/master/_posts/" target="_blank" > Edit </a>]
  </h1>
  
  <h2>{{ page.url }}</h2>
  
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
  <br>tag: '{{ page.tags }}' 
  
    
</article>
